@use "sass:map";
@use "../functions/opacify" as o;

$core: (
  light: hsl(360, 100%, 100%),
  dark: hsl(0, 0%, 5%),
);

$shared: (
  link: hsl(201, 100%, 67%),
  text-light: map.get($core, light),
  text-dark: map.get($core, dark),
  focus: o.opacify(map.get($core, light), 48),
);

$shared: map.merge($core, $shared);

$light: (
  primary: hsl(259, 81%, 45%),
  secondary: hsl(277, 91%, 51%),
  body: hsl(0, 0%, 94%),
  text-main: map.get($shared, text-dark),
  text-invert: map.get($shared, text-light),
  text-fade: hsl(0, 0%, 42%),
  background-main: hsl(0, 0%, 96%),
  background-secondary: hsl(0, 0%, 93%),
  background-tertiary: hsl(0, 0%, 88%),
  background-invert: hsl(220, 11%, 11%),
  box-shadow: hsl(220, 11%, 11%),
  input-bg: hsl(0, 0%, 100%),
  input-error: hsl(0, 100%, 68%),
  button: hsl(218, 16%, 68%),
  card: hsl(0, 0%, 100%),
  glass: hsl(0, 0%, 98%, 10%),
  danger: hsl(0, 100%, 57%),
  error: hsl(4, 91%, 59%),
  cancel: hsl(4, 91%, 59%),
  warn: hsl(54, 96%, 55%),
  safe: hsl(112, 92%, 49%),
  success: hsl(112, 92%, 49%),
  info: hsl(201, 100%, 67%),
);

$default: map.merge($shared, $light);

$dark: (
  primary: hsl(259, 92%, 30%),
  secondary: hsl(277, 92%, 36%),
  body: hsl(225, 10%, 8%),
  text-main: map.get($shared, text-light),
  text-invert: map.get($shared, text-dark),
  text-fade: hsl(0, 0%, 62%),
  background-main: hsl(220, 11%, 11%),
  background-secondary: hsl(220, 11%, 20%),
  background-tertiary: hsl(220, 11%, 25%),
  background-invert: hsl(0, 0%, 98%),
  box-shadow: hsl(0, 0%, 98%),
  input-bg: hsl(228, 8%, 12%),
  input-error: hsl(0, 65%, 38%),
  button: hsl(223, 12%, 31%),
  card: hsl(220, 9%, 14%),
  glass: hsl(0, 0%, 35%, 10%),
  danger: hsl(0, 100%, 40%),
  error: hsl(5, 74%, 48%),
  cancel: hsl(5, 74%, 48%),
  warn: hsl(54, 59%, 46%),
  safe: hsl(112, 87%, 33%),
  success: hsl(112, 87%, 33%),
  info: hsl(201, 72%, 43%),
);
