@use "./sizes.scss" as *;
@use "./br.scss" as *;
@use "./positions.scss" as *;

@mixin dot-load-animation($size, $gap, $pos) {
  @include pos-r;

  --size: #{$size};
  --gap: #{$gap};

  --second-dot-offset: calc(var(--size) + var(--gap));
  --third-dot-offset: calc((var(--size) + var(--gap)) * 2);

  &::after {
    content: "";
    @include size(var(--size));
    @include br-cr;
    @include pos-a($pos);
    background: currentColor;
    animation: dot-load 1s linear infinite;
  }
}
