@use "./mixins.scss" as *;

.aria-only {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
}

.circle {
  border-radius: 100%;
}

.tablet-down {
  @include tablet-up {
    display: none;
  }
}

.tablet-up {
  @include tablet-down {
    display: none;
  }
}

// Transition classes
.links-preview-move,
.links-preview-enter-active,
.links-preview-leave-active {
  transition: ease-in-out 500ms;
}

.links-preview-enter-from,
.links-preview-leave-to {
  opacity: 0;
  translate: 20px 0;
}

.links-preview-leave-active {
  position: absolute;
}

.fade-enter-active,
.fade-leave-active {
  transition: ease-in-out 300ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
